@page "{id:int}"
@model form.Pages.DetailsModel

<h2>Detalle del Formulario</h2>

<table class="table table-bordered">
    <tr>
        <th>Nombre</th>
        <td>@Model.Formulario.Nombre</td>
    </tr>
    <th>Fecha</th>
    <td>@Model.Formulario.Fecha</td>
    </tr>
    <tr>
        <th>RFC</th>
        <td>@Model.Formulario.RFC</td>
    </tr>
    <tr>
        <th>CURP</th>
        <td>@Model.Formulario.CURP</td>
    </tr>
    <tr>
        <th>Folio</th>
        <td>@Model.Formulario.Folio</td>
    </tr>
    <tr>
        <th>Teléfono</th>
        <td>@Model.Formulario.Telefono</td>
    </tr>
    <tr>
        <th>Calle</th>
        <td>@Model.Formulario.Calle</td>
    </tr>
    <tr>
        <th>Número</th>
        <td>@Model.Formulario.Numero</td>
    </tr>
    <tr>
        <th>Código Postal</th>
        <td>@Model.Formulario.CodigoPostal</td>
    </tr>
    <tr>
        <th>Estado</th>
        <td>@Model.Formulario.Estado</td>
    </tr>
    <tr>
        <th>Municipio</th>
        <td>@Model.Formulario.Municipio</td>
    </tr>
    <tr>
        <th>Calle</th>
        <td>@Model.Formulario.Calle</td>
    </tr>
    <tr>
        <th>Numero</th>
        <td>@Model.Formulario.Numero</td>
    </tr>
    <tr>
        <th>Razón Social</th>
        <td>@Model.Formulario.RazonSocial</td>
    </tr>
    <tr>
        <th>Area</th>
        <td>@Model.Formulario.Area</td>
    </tr>
    <tr>
        <th>Empresa</th>
        <td>@Model.Formulario.Empresa</td>
    </tr>
    <tr>
    <tr>
        <th>ISO</th>
        <td>@Model.Formulario.ISO</td>
    </tr>
    <tr>
        <th>NOM</th>
        <td>@Model.Formulario.NOM</td>
    </tr>
    <tr>
        <th>Contrato</th>
        <td>@Model.Formulario.Contrato</td>
    </tr>
    <tr>
        <th>Requerimiento</th>
        <td>@Model.Formulario.Requerimiento</td>
    </tr>
    <tr>
        <th>Permiso</th>
        <td>@Model.Formulario.Permiso</td>
    </tr>
    <tr>
        <th>Peticion</th>
        <td>@Model.Formulario.Peticion</td>
    </tr>
    <tr>
        <th>Regulacion</th>
        <td>@Model.Formulario.Regulacion</td>
    </tr>
    <tr>
        <th>Ley</th>
        <td>@Model.Formulario.Ley</td>
    </tr>
    <tr>
        <th>Articulo</th>
        <td>@Model.Formulario.Articulo</td>
    </tr>
    <tr>
        <th>Parrafo</th>
        <td>@Model.Formulario.Parrafo</td>
    </tr>
</table>





<form method="post" asp-page-handler="ExportarPdf" asp-route-id="@Model.Formulario.Id">
    <button type="submit" class="btn btn-primary">Exportar a PDF</button>

    <a asp-page="/Formularios/Index" class="btn btn-secondary">Volver</a>
</form>


<partial name="_ValidationScriptsPartial" />