@page
@model form.Pages.Formularios.IndexModel

@using form.Services
@inject NotificacionService NotifSvc
@{
    var correo = HttpContext.Session.GetString("correo");
    var notifCount = (!string.IsNullOrWhiteSpace(correo))
    ? NotifSvc.ContarNoLeidas(correo)
    : 0;
    <a class="icon-link position-relative" asp-page="/Notificaciones/Index" title="Notificaciones"
        aria-label="Notificaciones">
        <span class="gobmxfont bi bi-bell" aria-hidden="true"></span>
        @if (notifCount > 0)
        {
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                @notifCount
                <span class="visually-hidden">notificaciones sin leer</span>
            </span>
        }
    </a>
}

<h2>Lista de Formularios</h2>
@if (Model.Formularios.Count == 0)
{
    <p>No tienes formularios enviados aún.</p>
}
else

{


    <p>
        <a asp-page="Create" class="btn btn-primary">Nuevo Formulario</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Correo</th>
                <th>Nombre</th>
                <th>Folio</th>
                <th>Fecha</th>

            </tr>
        </thead>


        <tbody>
            @foreach (var f in Model.Formularios)
            {
                <tr>
                    <td>@f.Id</td>
                    <td>@f.Correo</td>
                    <td>@f.Nombre</td>
                    <td>@f.Folio</td>
                    <td>@f.Fecha</td>

                    <td>
                        <a asp-page="Editar" asp-route-id="@f.Id" class="btn btn-warning btn-sm">Editar</a>
                        <a asp-page="Delete" asp-route-id="@f.Id" class="btn btn-danger btn-sm">Eliminar</a>
                        <a asp-page="Details" asp-route-id="@f.Id" class="btn btn-info btn-sm">Ver</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    <a asp-page="/Index" class="btn btn-danger">Volver</a>
</div>