@page "{id:int}"
@model form.Pages.DetalleModel

<h2>Detalle del Formulario</h2>

<table class="table table-bordered">
    <tr>
        <th>Nombre</th>
        <td>@Model.Formulario.Nombre</td>
    </tr>
    <tr>
        <th>RFC</th>
        <td>@Model.Formulario.RFC</td>
    </tr>
    <tr>
        <th>CURP</th>
        <td>@Model.Formulario.CURP</td>
    </tr>
    <tr>
        <th>Folio</th>
        <td>@Model.Formulario.Folio</td>
    </tr>
    <tr>
        <th>Teléfono</th>
        <td>@Model.Formulario.Telefono</td>
    </tr>
    <tr>
        <th>Calle</th>
        <td>@Model.Formulario.Calle</td>
    </tr>
    <tr>
        <th>Número</th>
        <td>@Model.Formulario.Numero</td>
    </tr>
    <tr>
        <th>Código Postal</th>
        <td>@Model.Formulario.CodigoPostal</td>
    </tr>
    <tr>
        <th>Estado</th>
        <td>@Model.Formulario.Estado</td>
    </tr>
    <tr>
        <th>Municipio</th>
        <td>@Model.Formulario.Municipio</td>
    </tr>
    <tr>
        <th>Razón Social</th>
        <td>@Model.Formulario.RazonSocial</td>
    </tr>
    <tr>
        <th>Fecha</th>
        <td>@Model.Formulario.Fecha</td>
    </tr>
</table>





<form method="post" asp-page-handler="ExportarPdf" asp-route-id="@Model.Formulario.Id">
    <button type="submit" class="btn btn-primary">Exportar a PDF</button>

    <a asp-page="/Historial" class="btn btn-secondary">Volver al historial</a>
</form>


<partial name="_ValidationScriptsPartial" />